@page "/Ciclo"
@*para implementar um metodo quando o componete é desconstruido, é necessario implementar Idispose usando a diretiva a baixo *@
@implements IDisposable

<h1>@Titulo</h1>
<h2>Fui renderizado as @HoraRenderizacao</h2>

@code{
    private string Titulo { get; set; }
    private string HoraRenderizacao { get; set; }

    // incremetar metodo do ciclo de vida: overrride pq o metodo ja existe
    protected override void OnInitialized()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"iniciação do componente: às {HoraRenderizacao}");
        Titulo = "Ola Blazor";
    }

    protected override void OnParametersSet()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnParametersSet: às {HoraRenderizacao}");
        Console.WriteLine("Recebimento dos parametros do componete pai");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnAfterRender Primeira Vez {firstRender}");
        Console.WriteLine($"Termino de Renderização do Componente: às {HoraRenderizacao}");
    }

    public void Dispose()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Liberação dos componentes: às {HoraRenderizacao}");
    }
}